/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

@font-face {
    font-family: Inter;
    src: url(./Fonts/Inter-VariableFont_opsz/,wght.woff2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Inter;
}



body {
    background: #1c1d20;
}


.Section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 120px 8%; */
    padding: 120px 18%;
    gap: 100px;
    position: relative;
}

.Section2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white-stroke);
    gap: 0;
    padding: 120px 18%;
    position: relative;
    overflow: hidden;
    gap: 50px;
}

.Section2::after {
    content: "";
    position: absolute;
    bottom: -20%;
    left: -5px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: rgba(196, 195, 195, 0.2);
}


:root {
    --primary-color: #34c332;
    --white-stroke: #fff;
    --black-stroke: #000;
    --white-light: #ccc;
}

nav {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.Nav_Left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    height: 100%;
}

nav .Logo {
    width: 130px;
}

nav .Logo #dev {
    width: 200px;
    height: 200px;
}

nav .Logo #dev2 {
    width: 200px;
    height: 200px;
    display: block;
    display: none;
}




nav .Logo h3 {
    font-size: 1.8rem;
    color: var(--white-stroke);
    font-weight: 600;
}

.Nav_Left ul {
    display: flex;
    gap: 20px;
}

.Nav_Left ul li {
    color: var(--white-stroke);
}

.Nav_Left ul li p {
    font-size: 0.8rem;
    color: var(--white-stroke);
    transition: .6s;
}

/* .Nav_Left ul li p:hover {
    color: var(--primary-color);
} */

.sticky {
    background: var(--white-stroke);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.45);
}

.sticky .Nav_Left ul li p,
.Nav_Left ul li {
    color: var(--black-stroke);
}

.sticky #Open_Menu {
    color: var(--black-stroke);
    cursor: pointer;

}

.sticky .Nav_Left .Logo {
    color: var(--black-stroke);

}



.Hero_Sticky #text {
    color: var(--primary-color) !important;
}

#Open_Menu {
    color: var(--white-stroke);
    font-size: 1.8rem;
}





/* SIDEBAR menu */

.Sidebar_Menu {
    width: 35%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: absolute;
    top: 0;
    right: -100%;
    border-left: 1px solid #333;
    background: #10101085;
    backdrop-filter: blur(55px);
    z-index: 999;
    padding: 60px;
    transition: .6s;
}

.active {
    right: 0;
}

.Menu_Top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Sidebar_Menu ul:nth-child(1) {
    width: 10%;
    height: 100%;
    display: flex;
    gap: 30px;
}


.Sidebar_Menu ul:nth-child(1) li a {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--white-light);
    transition: .4s;
}

.Sidebar_Menu ul:nth-child(1) li a:hover {
    color: var(--primary-color);
}


.Main_Menu {
    width: 100%;
    height: 350px;
    overflow: scroll;
    overflow-x: hidden;
}

.Main_Menu::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}

.Main_Menu::-webkit-scrollbar {
    background: #222;
    color: var(--primary-color);
    width: 4px;
    border-radius: 10px;
    overflow-x: visible;
}

.Main_Menu li {
    padding: 20px 0;
}

.Main_Menu li a {
    font-size: 7vh;
    line-height: .9;
    font-weight: 500;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #fff, #34c332 50%, #fff 0);
    background-size: 200% 100%;
    background-position: 100%;
    transition: .91s;
}


.Main_Menu li a:hover {
    background-position: 0;
}


.Menu_Bottom {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}


.Menu_Bottom li span,
.Menu_Bottom li span a {
    color: var(--white-light);
    font-size: 1.2rem;
    font-weight: bold;
    transition: .4s;
}

.Menu_Bottom li span:hover {
    color: var(--primary-color);
}

.Sidebar_Menu p {
    width: 50%;
    line-height: 1.5;
    color: var(--white-stroke);
    margin-top: 20px;
}







#Close_Menu {
    cursor: pointer;
    color: #ffffffc0;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    z-index: 99;
}





/* Hero Section */
.Hero {
    min-height: 100vh;
    /* background-image: url('/Image/red-background.jpg'); */
    background-image: url('/Image/background01.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 9;
    flex-direction: row;
}


.Hero::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    /* background: linear-gradient(#00605b, #00bf63); */
    background: rgba(1, 173, 87, 0.24);
    border-radius: 95% 0 0 0;
    filter: drop-shadow(0 0 55px rgb(0, 0, 0));
    z-index: -1;
}

.Hero_Image {
    position: absolute;
    width: 55%;
    height: 120%;
    right: 0;
    /* top: 0; */
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hero_Image img {
    width: 75%;
    height: 100%;
    object-fit: cover;
    /* filter: drop-shadow(-10px 8px  25px rgba(0, 0, 0, 0.527)); */
}

#element1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18%;
}

.Hero #text {
    position: fixed;
    width: 12%;
    left: 2%;
    bottom: 2%;
    color: var(--white-stroke);
    font-size: 0.8rem;
    text-transform: uppercase;
    line-height: 1.3rem;
    z-index: 999;
}

.Hero_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    color: var(--white-stroke);
    z-index: 9;
}

.Hero_title span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
}

.Hero_title h1 {
    width: 50%;
    /* width: 60%; */
    font-size: 5.3rem;
    font-weight: 700;
}


.Counter {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 1;
}

.Counter_Col {
    width: 100%;
    background: rgb(255, 255, 255, .1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 30px;
    border-radius: 30px;
    border-bottom: 2px solid #ffffff47;
    gap: 20px;
}


.Counter_Col h3 {
    font-size: 2rem;
}

.Counter_Col p {
    color: var(--white-stroke);
    font-size: 0.9rem;
    line-height: 1.4rem;
    text-transform: uppercase;
}

.btn {
    position: relative;
    background: transparent;
    border: none;
    width: 180px;
    height: 60px;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 100px;
    color: var(--white-stroke);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: .6s;
}


.btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -50%;
    height: 1.5px;
    width: 40%;
    background: var(--white-stroke);
    transition: .6s;
}

.btn:hover {
    transform: translateX(-20px);
}

.btn:hover::after {
    transform: translateX(20px);
    width: 30%;

}

.Social-Icon {
    position: fixed;
    top: 50%;
    right: -100px;
    width: 300px;
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 0;
    transition: .6s;
}

.Social-Icon li span a:hover {
    color: var(--black-stroke) !important;
}








/* UI / XI designer Section */
.Experience_Year {
    height: 620px;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.Experience_Year .num {
    font-size: 5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.Experience_Year .num sup {
    font-size: 3rem;
}

.Experience_Year {
    color: var(--black-stroke);
    font-size: 1.2rem;
    font-weight: 700;
}

.Designer_Main {
    width: 80% 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.Designer_Main h2 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
}

.Designer_Main span {
    color: var(--primary-color);
}

.Designer_Wrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    place-items: center;
    gap: 55px;
}

.Designer_Wrap .Item {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: .6s;
    z-index: 9;
}

.Item h3 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 12px;
}

.Item p {
    height: 120px;
    line-height: 1.8rem;
    font-weight: 300;
    font-size: 1rem;
}

.Item p::-webkit-scrollbar{
    visibility: hidden;
}
/* 
#overLayer {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: #000000a5;
    backdrop-filter: blur(5px);
    display: block;
    display: none;
} */


.Item button {
    color: var(--black-stroke);
    font-size: 0.9rem;
    position: relative;
    margin-left: 0;
    gap: 10px;
    transform: translateY(38px);
    transition: .6s;
}

.Item button:hover {
    color: var(--primary-color);
}

.Item:hover button {
    transform: translateY(0);
}

.Item button::after {
    display: none;
}


/* Experience Section */
.Experience {
    background-image: url(/Image/attachment-02.webp);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    gap: 50px;
}

.Experience_title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: var(--white-stroke);
    margin-bottom: 20px;
}

.Experience_title h2 {
    font-size: 3.5rem;
}

.Experience_Slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.Experience_Main {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--white-stroke);
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
    gap: 20px;
}

.Experience_Content {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.Year span {
    font-size: 1.3rem;
    font-weight: 800;
}

.Experience_Main .Designer h5 {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.Experience_Info p {
    /* width: 100%; */
    font-weight: 400;
    color: #999;
    font-size: 1rem;
    line-height: 1.8rem;
}


.Experience_btn {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Experience_btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Experience_btn .load {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: black;
    border-bottom: 3px solid white;
    border-radius: 3px;
    padding: 12px;

}

.Experience_btn .load i {
    color: #ffffff;
    border-radius: 50%;
    font-weight: 200;

}

.Experience_btn button:hover .load i {
    animation: fadeDown 1s infinite;
}




@keyframes fadeDown {
    from {
        opacity: 1;
        transform: translateY(-5px);
    }

    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

.Experience_btn button {
    background: var(--primary-color);
    border: none;
    outline: none;
    width: 200px;
    height: 60px;
    font-size: 1rem;
    font-weight: 800;
    color: var(--white-stroke);
    border-radius: 8px;
}


.swiper {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}


/* VIt Section */
.VIt {
    gap: 50px;
}

.element {
    position: absolute;
    right: 0;
    top: 12%;
    height: 100px;
    width: 300px;
}

.element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.VIt_Image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9;
}

.VIt_Image::after {
    content: '';
    position: absolute;
    background-image: url(/Image/plus-light-pattern.webp);
    height: 80%;
    width: 100%;
    right: -10%;
    bottom: -10%;
}

.VIt_Image img:nth-child(1) {
    width: 90%;
    height: 100%;
    border-radius: 10px;
}

.VIt_title {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.VIt_title h2 {
    font-size: 2.1rem;
    line-height: 3rem;
}

.VIt_title h2 span {
    color: var(--primary-color);
}

.Process_Bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 40px;
    z-index: 1;
}

.ProcessBar_Col {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ProcessBar_Col span {
    font-size: 1.5rem;
    font-weight: 700;
}

.Process_Bar .line {
    width: 100%;
    height: 4px;
    background: rgba(16, 16, 16, .1);
    border-radius: 10px;
    position: relative;
}

.Process_Bar .line::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.ProcessBar_Col:nth-child(2) .line::after {
    width: 90%;
}

.ProcessBar_Col:nth-child(3) .line::after {
    width: 70%;
}





#Particle_element1 {
    position: absolute;
    object-fit: cover;
    right: 0;
    top: -10%;
    border-radius: 10px;
}

#Particle_element2 {
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 10%;
    border-radius: 10px;
}

#Particle_element3 {
    position: absolute;
    object-fit: cover;
    left: 10%;
    bottom: -10%;
    border-radius: 10px;
}





/* Professional_Awards Section */

.Professional_Awards {
    gap: 50px;
}

.Professional_Awards_title {
    width: 50%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Professional_Awards_title h2 {
    font-size: 2.1rem;
    line-height: 3rem;
}

.Professional_Awards_title h2 span {
    color: var(--primary-color);
}


.Professional_Awards_Image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}


.Professional_Awards_Image p {
    width: 100%;
    padding: 10px 0;
    color: #999;
    font-size: 0.9rem;
}

.Professional_Awards_Image img {
    width: 100%;
    border-radius: 10px;
}

.Professional_Awards_Image::after {
    content: '';
    position: absolute;
    background-image: url(/Image/plus-light-pattern.webp);
    width: 100%;
    height: 60%;
    right: -10%;
    top: -10%;
    z-index: -1;
}

.play_btn {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
}

.play_btn i {
    width: 80px;
    height: 80px;
    background: var(--black-stroke);
    color: var(--white-stroke);
    outline: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: .5s;
}

.play_btn i:hover {
    transform: scale(1.1);
}

.play_btn i:active {
    transform: scale(0.95);
}

.play_btn span {
    font-size: 1.3rem;
    font-weight: 600;
}



.Awards_Wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
    z-index: 1;
}

.Awards {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}


.Awards_Image {
    min-height: 80px;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px #0000000c;
    transition: .6s;
}

.Awards_Image:hover {
    box-shadow: 5px 5px 10px #00000046;

}

.Awards_title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Awards_title h4 {
    font-size: 1.5rem;
}

.Awards_title p {
    color: #0000006a;
}


/* Projects Section */
.Projects {
    gap: 50px;
    background-image: url(/Image/attachment-04.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.Projects_title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--white-stroke);
    margin-bottom: 20px;
}

.Projects_title h2 {
    font-size: 3.5rem;
}

.Projects_Slide {
    width: 100%;
    border-radius: 10px;
    background: #34c332 url(/Image/cartographer.png) repeat;
    padding: 80px 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    position: relative;
}

.Projects_Slide::after {
    content: '';
    position: absolute;
    background-image: url(/Image/quote.svg);
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    right: 5%;
    bottom: 5%;
    opacity: 0.5;
}

.Projects_Image {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Projects_Image img {
    /* background-color: rgb(255, 255, 255); */
    /* padding: 2px; */
    border: 2px solid #a5a5a57d;
    width: 80%;
    border-radius: 5%;
    transform: scale(1.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.258);
}


.Projects_Image .fixImg {
    width: 80%;
    border-radius: 5%;
    transform: scale(1.8) translate(-5%, 20%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.258);
}


.Projects_Info {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: var(--white-stroke);
}

.Projects_Info p {
    width: 75%;
    max-height: 10vh;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 8px;
    overflow-y: scroll;
    /* scroll-behavior: smooth; */
    /* background-color: red; */
}

.Projects_Info p::-webkit-scrollbar {
    display: none;
}

.name h6 {
    font-size: 1.5rem;
    /* margin-bottom: 5px; */
}


.Projects_Info a {
    text-decoration: none;
    color: var(--white-stroke);
    font-size: 0.9em;
    font-weight: 500;
    cursor: pointer;
}

/* .Projects_Info a:last-child{
    font-size: 0.8em;
    font-weight: 300;
    cursor: pointer;


} */
.Projects .Languages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 3.5em;
    transform: scale(0.6);
}

.Projects .Languages img {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    filter: brightness(35%);
    border-radius: 50%;
    /* background-color: #34c332; */
    transition: .6s;
}

.Projects .Languages img:hover {
    filter: none;
    box-shadow: 0 0 65px white,
     inset 0 0 65px rgba(59, 151, 249, 0.575),
      inset 0 0 65px rgba(255, 85, 0, 0.363);

}

.Projects .Languages img:nth-child(2):hover{
    box-shadow: 0 0 65px rgb(137, 221, 34),
    inset 0 0 65px rgb(137, 221, 34);
    
}
.Projects .Languages img:nth-child(3):hover{
    box-shadow: 0 0 65px rgb(232, 86, 13), 
    inset 0 0 65px rgb(232, 86, 13);
    
}
.Projects .Languages img:nth-child(4):hover{
    box-shadow: 0 0 65px rgb(34, 124, 221),
    inset 0 0 65px rgb(34, 124, 221);
    
}
.Projects .Languages img:nth-child(5):hover{
    box-shadow: 0 0 65px rgb(212, 221, 34),
    inset 0 0 65px rgb(212, 221, 34);
    
}


body::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100vw;
    margin-block: 0.2em;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 100vw;
    border: 3px solid transparent;
    background-clip: content-box;
}



/* Blog Section */

.Blog{
    flex-direction: column;
    gap: 50px;
}


.Blog_title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Blog_title h2{
    font-size: 3rem;
}

.Blog_title button{
    background-color: var(--primary-color);
    width: 170px;
    height: 50px;
    border: none;
    font-weight: 600;
    color: var(--white-stroke);
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

.Blog_Wrap{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-content: center;
    place-items: center;
    gap: 30px;
}



.Blog_Item{
    border: 2px solid rgba(196, 193, 193, 0.253);
    background-color: rgba(196, 193, 193, 0.253);
    backdrop-filter: blur(15px);
    /* border: 5px solid red; */
    border-radius: 8px;
    padding: 20px 5%;
    /* height: 500px; */
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 35px;
    z-index: 1;
}

.Blog_Image{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Blog_Image img{
    border: 10px solid rgb(206, 206, 206);
    box-shadow: 0 0 50px black;
    width: 100%;
    height: 40vh;
    transition: .6s;
}



.Blog_Content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;
}

.Blog_Content ul{
    width: 100%;
    display: flex;
    gap: 5px;
}

.Blog_Content ul li{
    font-size: 0.9rem;
    color: rgba(16,16,16,.8);
}

.Blog_Content h4{
    font-size: 1.5rem;
    line-height: 2.2rem;
    transition: .6s;
}

.Blog_Content h4:hover{
    color: var(--primary-color);
}

.Blog_Content button{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--black-stroke);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: translateY(30px);
    transition: .6s;
}

.Blog_Item:hover .Blog_Content button{
    transform: translateY(0);
}

.Blog_Content button:hover{
    color: var(--primary-color);
}


/* Contact Section */

.Contact{
    width: 100%;
    background-image: url(/Image/attachment-05.webp);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    background-attachment: fixed;
    flex-direction: row;
    gap: 50px;
}

.Contact_Left{
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    color: var(--white-stroke);
    gap: 30px;
}

.Contact_title{
    width: 100%;
    color: var(--white-stroke);
    margin-bottom: 30px;
}

.Contact_title h2{
    font-size: 5rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.Contact_title p{
    font-size: 1rem;
    line-height: 1.8rem;
    color: var(--white-light);
}

.Contact_Details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.Contact_Col{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.Contact_Col h6{
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--white-light);
    font-weight: 500;
}

.Contact_Col a{
    color: var(--white-stroke);
}

.Contact_Col span{
    width: 170px;
    height: 50px;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    border-radius: 5px;
    transition: .6s;
}

.Contact_Col span:hover{
    background-color: var(--primary-color);
}


.Contact_Right{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Contact_Right h5{
    width: 100%;
    font-size: 1.5rem;
    color: var(--white-stroke);
    line-height: 2rem;
}

.Contact_Right h5 span{
    color: var(--primary-color);
}

.Contact_Form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.Inputs_Head{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
}


.Input_Box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.Input_Box div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--white-stroke);
}

.Input_Box input, select{
    width: 100%;
    height: 50px;
    background-color: #222;
    color: #ffffff76;
    padding-left: 5%;
    font-size: 1.1rem;
    outline: none;
    border: none;
}


.Input_Box section option{
    color: var(--white-stroke);
}

.Contact_Form textarea{
    width: 100%;
    height: 150px;
    background-color: #222;
    color: var(--white-stroke);
    font-size: 1.1rem;
    padding: 2%;
    outline: none;
    border: none;
    margin: 10px 0;
    resize: none;
}

textarea::-webkit-scrollbar{
    background-color: rgb(61, 61, 61);
    width: 8px;

}

textarea::-webkit-scrollbar-thumb{
    cursor: default;
    background-color: #7e7e7e;
    border-radius: 3px;
    border: 2px solid rgb(61, 61, 61);

}


.Contact_Form label{
    color: var(--white-stroke);
    font-size: 0.9rem;
}

.Contact_Form button{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--white-stroke);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}



/* Responsive layouts */
@media screen and (max-width:1400px) {
    .Section {
        padding: 120px 12%;
        padding-bottom: 0;
    }

    .Section2 {
        padding: 120px 12%;
        padding-bottom: 0;
    }

    .VIt {
        padding: 120px;
    }
}

@media screen and (max-width:1200px) {

    .Section,
    .Section2 {
        padding: 120px 8%;
    }

    .Sidebar_Menu {
        width: 40%;
    }

    .Hero::after {
        width: 100%;
    }

    .Social-Icon {
        left: 85%;
        top: 50%;
    }

    .Hero #text {
        width: 15%;
    }
}

@media screen and (max-width:1000px) {
    .Sidebar_Menu {
        width: 50%;
    }

    .Main_Menu {
        margin-top: 40px;
    }


    .Hero {
        padding: 120px 0;
        overflow-x: hidden;
    }

    .Hero_Image {
        width: 70%;
        right: -16%;
    }

    .Hero_title {
        width: 85%;
    }

    .Hero_title h1 {
        width: 90%;
    }

    .Hero #text {
        width: 20%;
    }

    .Social-Icon {
        display: none;
    }

    .Experience_Year {
        display: none;
    }

    .Designer_Main {
        width: 100%;
    }

    .Experience_Main .Designer h5 {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.7rem;

    }

    .VIt_title h2 {
        font-size: 1.9rem;
    }

    .Blog_Content h4{
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .Contact{
        flex-direction: column;
    }

    .Contact_Left{
        width: 100%;
        height: 470px;
    }

    .Contact_Right{
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .Section2 {
        flex-direction: column;
        gap: 100px;
    }

    .Section2::after {
        bottom: -15%;
        left: -10%;
    }

    .Sidebar_Menu {
        width: 75%;
    }

    .Sidebar_Menu p {
        width: 75%;
    }

    .Hero_title h1 {
        width: 100%;
        font-size: 4.5rem;
    }

    .Hero_Image {
        right: -23%;
        width: 100%;
    }

    .Hero_Image img {
        width: 65%;
    }

    .Counter {
        align-items: center;
        flex-direction: column;
    }

    .Counter_Col {
        width: 80%;
    }

    .Experience_Main {
        flex-direction: column;
    }

    .Experience_Content {
        width: 100%;
    }

    .Experience_Info {
        width: 100%;
    }

    .VIt::after {
        bottom: -7%;
    }

    .VIt_Image {
        width: 100%;
    }

    .VIt_Image:nth-child(1) {
        width: 100%;
    }

    .VIt_title {
        width: 100%;
    }

    .VIt_title h2 {
        font-size: 3rem;
        line-height: 3.7rem;
    }

    .VIt_title p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #Particle_element1 {
        right: -6%;
        top: -4%;
    }

    #Particle_element2 {
        left: 2%;
        bottom: -6%;
    }

    .VIt_Image::after {
        right: -6%;
    }

    .Professional_Awards_title {
        width: 100%;
    }

    .Professional_Awards_Image {
        width: 100%;
    }

    .Professional_Awards_Image::after {
        right: -6%;
        top: -6%;
    }

    .Professional_Awards::after {
        bottom: -10%;
    }


    

    .Projects_Image {
        display: none;
    }

    .Projects_Info {
        width: 100%;
    }

    .Projects_Slide{
        padding: 50px;
    }

   
    .Languages {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }    


    .Blog_Wrap{
        grid-template-columns: repeat(1,1fr);
    }
    


}

@media screen and (max-width:500px) {
    .Section2::after {
        bottom: -10%;
        left: -14%;
    }

    .Sidebar_Menu {
        width: 100%;
    }

    .Nav_Left ul {
        display: none;
    }

    .Hero_Image img {
        width: 110%;
        opacity: 0.8;
        filter: brightness(0.5);
    }

    .Counter_Col {
        width: 100%;
    }

    .Hero #text {
        width: 35%;
    }



    .Designer_Main h2 span {
        font-size: 1.7rem;
    }

    .Designer_Wrap {
        grid-template-columns: repeat(1, 1fr);
    }

    .Projects {
        background-position: center;
        /* object-fit: cover; */
    }

    .Projects_Slide {
        padding: 40px 20px;
    }

    .Projects_Info p {
        font-size: 0.8rem;
        line-height: 1rem;
    }


    /* .Languages {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 50px;
    }    */

    .Blog_title{
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

    .Contact_Right h5{
        font-size: 1.2rem;
    }
   

   
}

@media screen and (max-width:468px){

    .Sidebar_Menu {
        width: 100%;
        height: 100%;
    }

    .Nav_Left ul {
        display: none;
    }

    .Hero_Image img {
        width: 150%;
        opacity: 0.8;
        filter: brightness(0.5);
    }

      .Languages {
        width: 100%;
        height: 100%;
        position: relative;
    }   

    .Languages img{
        position: relative;
        width: 35vw;
        height: 15vh;
    }



}






@media screen and (max-width:400px){

      .Languages {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 50px;
    }   



}